* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,button,li {
  border: none;
  list-style: none;
  text-decoration: none;
}
a{
  color: white;
}
hr{
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --Cl-Gug: linear-gradient(to bottom right, #00c4cc, #7d2ae8);
}
body{
  transition: all 0.5 ease;
  background-image: url("./components/webpack.png");
  background-attachment: fixed  ;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------**left navbaar**----------- */

.navbaar{
  background-color: #2fbf71;
  color: white;
  border-radius: 4rem;
  width:30rem;
  position: fixed;
  height: 62rem;
  overflow: hidden;
  margin-top: 7rem;
  margin-left: 5rem;
  padding: 3rem 1rem 0 3rem;
}
.navbaar .img{
  background: url("./components/profile.jpg");
  height: 9rem;
  width: 9rem;
  background-size: cover;
  border-radius: 8rem;
  border: 0.3rem solid white;
}
.navbaar .name{
  margin-top: 1.5rem;
  font-size: 2.8rem;
  font-weight: 700;
}
.position{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
i{
  margin-right: 2rem;
  align-items: center;
}
ul{
  margin: 0;
  padding: 0;
}
.navlink{
  font-size: 1.5rem;
  margin-top: 3rem;
}
.navlink li{
  padding: 1rem 0;
}
.navlink li:hover{
  margin-left: 0.5rem;
  transition: all .3s ease-in-out;
}
.social{
  margin: 4rem;
  font-size: 2.4rem;
}

/* ---------------------------**nav ends **---------------- */
.allright{
  background-color: #2fbf71;
  border-radius: 4rem;
  height: 80vh;
  width: 70vw;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 2rem;
  color: white;
  margin-left: 42rem;
  margin-right: 5rem;
}
.firstintro{
  display: flex;
  padding: 3rem;
  margin-top:6rem;
}
.leftside{
  text-align: left;
  word-wrap: break-word;
}
p{
  margin: 0;
  padding: 0;
}
.bolder{
  font-weight: 700;
}
.n1{
  font-size: 2rem;
}
.n2{
    font-size: 6rem;
}
.n3{
  font-size: 2rem;
  margin: 0;
}
.n4{
    /* width: 50%; */
  font-size: 1.8rem;
}

.cvbtn{
  height: 4rem;
  width: 16rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: #2fbf71;
  border-radius: 0.8rem ;
  border: 0.1rem solid white;
  box-shadow: -0.4rem 0.4rem 0.1rem white;
  margin-top: 5rem;
  position: relative;
}

.cvbtn:active {
  box-shadow: none;
  right:0.4rem;
  top:0.4rem;
}

.hirebtn{
  width: 12rem;
  margin-left: 5rem;
  box-shadow: 0.4rem 0.4rem 0.1rem white;
}
.hirebtn:active {
  box-shadow: none;
  left:0.4rem;
  top:0.4rem;
}

.rightside{
  margin-left: 4rem;
}
.rightside .img{
  height: 35rem;
  width: 35rem;
  background: url(./components/study.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin: auto;
}

.second{
  background-color: white;
  padding: 5rem;
  color: black;
}
.second .heading{
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
 .second .img{
  background: url(https://i.pinimg.com/736x/c8/92/98/c8929824ff290d2bffb2210c1f036515.jpg);
  height: 20rem;
  width: 20rem;
  border-radius: 200%;
  background-size: cover;
  background-repeat: no-repeat; 
  padding: 10rem;
  margin-top: 5rem;
}
.second .line{
  background: #B8621B;
  opacity: 100%;
  height: 0.5rem;
  border-radius: 5rem;
  width: 15rem;
}
.second .content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  
}
.second .data{
  margin-left:5rem;
}
.data .title{
  font-size: 4rem;
}
.data .para{
  font-size: 1.5rem;
  width: 90%;
  margin-top: 2rem;
  word-wrap: break-word;
}
.data .detail{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.lefty{
  margin-left: 10rem;
  font-size: 1.5rem;
}
.dark{
  color: #B8621B;
}
.light{
  color:black;
}
 .bttn{
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #B8621B;
  margin-top: 2rem;
  border: 1px solid #B8621B;
  transition: all 0.5 ease-in-out;
}
.bttn:hover{
  box-shadow: 0 0.3rem 0   #B8621B;
}
.bttn:active{
  position: relative;
  top:0.3rem;
  box-shadow: none;
}




/* ------------------**media start**----------- */

@media screen and (max-width:1493px) {
  html{
    font-size: 58% ;
  }
  .allright{
    width: 68vw;
  }
  
}
/* @media screen and (max-width:1400px) {
  html{
    font-size: 54% ;
  }
  
} */
@media screen and (max-width:1320px) {
  html{
    font-size: 54% ;
  }
  
}
@media screen and (max-width:1220px) {
  /* html{
    font-size: 50% ;
  } */
  
}