.hello{
  color: #00c4cc;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,button,li {
  border: none;
  list-style: none;
  text-decoration: none;
}
a{
  color: white;
}
hr{
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
:root {
  --Cl-Gug: linear-gradient(to bottom right, #00c4cc, #7d2ae8);
  --purple:#9A208C;
  --blue:#4a63e7;
  --pink:#ff5959;
  --gray:#616060;
}
body{
  transition: all 0.5 ease;
  background-color: #f6f7ff;
}
.dot{
  border-radius: 100%;
  background-color: var(--pink);
  height: 2rem;
  width: 2rem;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------**left navbaar**----------- */

.navbaar{
  background-color: var(--blue);
  color: white;
  border-radius: 40px;
  width:300px;
  position: fixed;
  height: fit-content;
  overflow: hidden;
  margin-left: 15rem;
  padding: 3rem 1rem 0 3rem;
}
.navbaar .img{
  background: url(https://img.freepik.com/premium-vector/young-man-face-cartoon_18591-59097.jpg?w=360);
  height: 9rem;
  width: 9rem;
  background-size: cover;
  border-radius: 80px;
  border: 0.3rem solid var(--pink);
}
.navbaar .name{
  margin-top: 1.5rem;
  font-size: 28px;
  font-weight: 700;
}
.position{
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 300;
}
i{
  margin-right: 2rem;
  align-items: center;
}
ul{
  margin: 0;
  padding: 0;
}
.navlink{
  font-size: 15px;
  margin-top: 3rem;
}
.navlink li{
  padding: 1rem 0;
}
.navlink li:hover{
  margin-left: 0.5rem;
  transition: all .3s ease-in-out;
}
.social{
  margin: 4rem;
  font-size: 24px;
}
.dot{
  height: 1rem;
  width: 1rem;
}
.mobile-navbar-btn .close{
  display: none;
}
.active{
  display: inline-block;
  z-index: 100;
}

.mobile-navbar-btn{
  /* margin: 100px 100px;   */
  /* transition:  all 10s linear; */
  width: 80%;
  margin: 5rem auto;
  background-color: #355fb5;
  padding: 1rem 0.5rem;
  font-size: 15px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
  color: white;
  display: none;
}
.mobile-navbar-btn .name{
  width: fit-content;
}
.mobile-navbar-btn .img{
  
  background: url("./components/profile.jpg");
  height: 9rem;
  width: 9rem;
  background-size: cover;
  border-radius: 80px;
  border: 0.3rem solid var(--pink);
}
.open,.close{
  position: absolute;
  right: 10px;
  font-size: 50px;
}



/* ---------------------------**nav ends **---------------- */
.allright{
  background-color: var(--blue);
  /* background: url(../public/thirdbg\ \(1\).png); */
  background-repeat: no-repeat;
  background-size: cover;
  /* backg; */
  
  scroll-margin-top: 5rem;
  border-radius: 40px;
  width: 60vw;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 2rem;
  color: rgb(255, 255, 255);
  margin-left: 49rem;
  margin-right: 5rem;
  box-shadow: 4px 4px 10px rgb(50, 49, 49);
}
.firstintro{
  display: flex;
  padding: 3rem;
  margin-top:3rem;
}
.leftside{
  text-align: left;
  word-wrap: break-word;
}
p{
  margin: 0;
  padding: 0;
}
.bolder{
  font-weight: 700;
}
.n1{
  font-size: 20px;
}
.n2{
    font-size: 55px;
}
.n3{
  font-size: 20px;
  margin: 0;
}
.n4{
    /* width: 50%; */
    margin-top: 2rem;
  font-size: 15px;
}

.cvbtn{
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border-radius: 8px ;
  border: 1px solid white;
  box-shadow: -4px 4px 1px white;
  margin-top: 5rem;
  position: relative;
}
.cvbtn:hover{
  background-color: var(--pink);
}
.cvbtn:active {
  box-shadow: none;
  right:4px;
  top:4px;
}

.hirebtn{
  width: fit-content;
  margin-left: 5rem;
  box-shadow: 4px 4px 1px white;
}
.hirebtn:active {
  box-shadow: none;
  left:0.4rem;
  top:0.4rem;
}

.rightside{
  margin-left: 4rem;
}
.rightside .img{
  height: 35rem;
  width: 35rem;
  background: url(../public/allright.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 3px solid var(--pink); */
  border-radius: 100%;
  margin: auto;
}
/* ---------------------second ----------- */
.second{
  background-color: white;
  background: url(./components/bgpurple.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  padding: 5rem;
  color: black;
}
.second .heading{
  color: black;
  font-weight: 700;
  font-size: 25px;
  position: relative;
}
 .second .img{
  background: url(https://cdni.iconscout.com/illustration/premium/thumb/boy-chatting-on-phone-5317642-4438797.png?f=webp);
  height: 20rem;
  width: 20rem;
  /* border-radius: 200%; */
  background-size: cover;
  background-repeat: no-repeat; 
  padding: 10rem;
  margin-top: 5rem;
}
.second .line{
  background: var(--pink);
  opacity: 100%;
  height: 0.5rem;
  border-radius: 50px;
  width: 15rem;
  border: 0;
}
.second .content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  
}
.second .data{
  margin-left:5rem;
}
.data .title{
  font-size: 40px;
  font-weight: 400;
}
.data .para{
  font-size: 15px;
  width: 90%;
  margin-top: 2rem;
  word-wrap: break-word;
  color: var(--gray);
}
.data .detail{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.lefty{
  margin:auto;
  font-size: 15px;
}
.dark{
  color: var(--pink);
  font-weight: 500;
}
.light{
  color:var(--gray);
  font-weight: 400;
}
 .bttn{
  background-color: transparent;
  font-size: 15px;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--pink);
  margin-top: 2rem;
  border: 1px solid var(--pink);
  transition: all 0.5 ease-in-out;
  font-weight: 600;
}
.bttn:hover{
  box-shadow: 0 0.3rem 0   var(--pink);
}
.bttn:active{
  position: relative;
  top:0.3rem;
  box-shadow: none;
}

/* ----------------------------------third------------------ */
.third{
  background:url(./components/thirdbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  color: black;
}
.third .heading{
  color: black;
  font-weight: 500;
  font-size: 25px;
  position: relative;
}
.third .line{
  background: #19376D;
  opacity: 100%;
  height: 0.5rem;
  border-radius: 5rem;
  width: 15rem;
  border: 0;
}

.third .timeline{
  max-width: 98%;
  color: white;
  font-size: 15px;
}
.third .container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc{
  border-left: 4px solid #1f4c86;
  position: relative;
  padding:1rem 1rem 1rem 2rem;
  display: flex;
  justify-content:center;
  align-items: center;
}
.desc .data{
  background-color:#355fb5;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  margin-left: 10rem;
}
.desc .circle{
  background:white;
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  border: 2px solid #355fb5;
  position: absolute;
  top: 0;
  left: -6.5px;
  color: black;
  z-index: 10;
}
.circles{
  position: absolute;
  height:3rem;
  width: 3rem;
  top: 0;
  left: 0px;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circles p{
  padding: 2rem;
}

.timeline {
  width: 60rem;
  word-wrap: break-word;
  margin: auto;
}
.container .student{
  height: 38rem;
  width: 18rem;
  background: url(https://img.freepik.com/premium-vector/first-year-college-student-semi-flat-rgb-color-vector-illustration_106317-17588.jpg?w=360);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}
/* ----------------------------skills / fourth---------------- */
.inliner{
  display:inline;
}
.skills{
  margin: 5rem 5rem 1rem 5rem;
}
.skills li{
  width: fit-content;
  margin: 2rem;
}
.list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills .outer{
  height: 160px;
  width: 160px;
  border-radius: 100px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .ast{
    background: conic-gradient(var(--pink) 80%, #f0e0e0 0);
  }
  .bst{
    background: conic-gradient(var(--pink) 70%, #f0e0e0 0);
  }
  .cst{
    background: conic-gradient(var(--pink) 80%, #f0e0e0 0);
  }
  .dst{
    background: conic-gradient(var(--pink) 90%, #f0e0e0 0);
  }
  .skills .inner{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  line-height: 135px; 
   text-align: center;
   font-size: 30px;
   position: relative;
   /* margin: auto; */
   vertical-align: middle;
   background-color: white;
   color: var(--gray);
}
.fourth{
  background: white;
  color: black;
  padding: 5rem;
  height: fit-content;
}
.fourth .heading{
  color: black;
  font-weight: 500;
  font-size: 25px;
  position: relative;
}
.fourth .line{
  background: var(--pink);
  opacity: 100%;
  height: 0.5rem;
  border-radius: 5rem;
  width: 25rem;
  border: 0;
}
.skills .name{
  margin-top: 2rem;
  font-size: 18px;
  text-align: center;
  border-radius: 25px;
}
.rating{
  margin-top: 3rem;
  vertical-align: center;
  font-size: 15px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}


/* ---------------------------section-------------- */

.extras{
  padding: 3rem 5rem;
}

.extras .section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.extras .icons{
  background-color: var(--pink);
  height: 5rem;
  width: 5rem;
  /* padding: 5px 7px; */
  font-size: 30px;
  border-radius: 100%;
  margin: auto;
}
.extras .qty{
  font-size: 35px;
  font-weight: 700;
}
.extras .des{
  font-size: 20px;
}




/* --------------------------contact sixth ----------- */
.sixth{
  background: white;
  color: black;
  padding: 5rem;
}
.sixth .heading{
  color: black;
  font-weight: 700;
  font-size: 25px;
  position: relative;
}
.sixth hr{
  background: var(--pink);
  opacity: 100%;
  height: 0.5rem;
  border-radius: 5rem;
  width: 15rem;
  border: 0;
}
.sixth .section{
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-between;
  margin-top: 5rem;
  color: gray;
}
.section .left{
  margin: auto;
}
.section p{
  font-size: 15px;
  margin: 0.5rem 0;
}
.section .bolder{
  font-weight: 700;
  color: black;
}
.phone,.email,.location{
  display: flex;
  margin: 5rem 1rem;
}
.section .img{
  font-size: 25px;
  color: var(--pink);
}
.right{
  /* margin-left: 9rem; */
  /* width: 100%; */
  margin: auto;
}
.form{
  margin-top: 5rem;
}
.form .name{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.fname , .sname{
  /* margin-right: 2rem; */
  font-size: 15px;
  padding: 0.5rem 0rem 0.5rem 2rem;
  border: 1px solid var(--pink);
  border-radius: 5rem;
  width: 45%;
}
.form .e-mail,.form .subject{
  width: 100%;
  margin-top: 2rem;
  font-size: 15px;
  padding: 0.5rem 0rem 0.5rem 2rem;
  border: 1px solid var(--pink);
  border-radius: 5rem;
}
.message{
  font-size: 15px;
  width: 100%;
  border-radius: 2rem;
  padding: 0.5rem 0rem 0.5rem 2rem;
  margin-top: 2rem;
  border: 1px solid var(--pink);
}
.focu:focus{
  border: 1px solid var(--gray);
  outline: none;
}
.buton{
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  font-size: 15px;
  border-radius: 2rem;
  background-color: var(--pink);
  color: white;
  margin-top: 1rem;
}



/* ------------------**media start**----------- */


@media screen and (max-width:1024px) {
  .allright{
    /* width: 80vw; */
    
    margin-left:350px;
    padding: 2rem;
  }
  .navbaar{
    margin-left: 25px;
  }
  .rightside .img{
    
  height: 30rem;
  width: 30rem;
  margin: auto;
  }
  .rightside{
    margin-left: 0px;
    margin: auto;
  }
  .n1,.n2,.n3,.n4{
    text-align: center;
  }
  /* ----------------------- */
  .second .img{
    height: 40rem;
  width: 30rem;
  right: 20px;
  background-position-x: -50px;
  margin: auto;
  }
  .second .content{
    margin: auto;
  }
  .data .para,.data .title{
    text-align: center;
  }
  .data .detail{
    display: block;
    text-align: left;
  }
  /* ------------------------- */
  .extras .des {
    font-size: 17px;
  }
  /* ---------------------------------- */
  .third{
    background-position-x: -200px;
  }
  .container .student{
    background-position-x: -19px;
  }
  .desc .data{
    font-size: 15px;
    padding: 1.5rem;
    
  }
  .third h2{
    font-size: 15px;
  }
  /* -------------------- */
  .sixth .section{
    margin: auto;
  }
}
/*
@media screen and (max-width:768px) {
  html{
    font-size: 53% ;
  }
  .allright{
    width: 100%;
  }
  .navbaar{
    display:none;
  }
}*/
@media screen and (max-width:768px) {
  html{
    font-size: 30% ;
  }
  .allright{
    width: 90%;
    margin:7rem auto;
  }
  .mobile-navbar-btn{
    display: flex;
  }
  .navbaar{
    display:none;
  }
  .active{
    display: block;
  }


} 
@media screen and (max-width:426px) {
  .allright{
    width: 90%;
    margin:7rem auto;
  }
  .mobile-navbar-btn{
    display: flex;
  }
  .navbaar{
    display:none;
  }
  .active{
    display: block;
  }
} 